html {
    position: relative;
    user-select: none;
    /*min-height: 100%;*/
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #191b1c;
    --primary-color: #1E1E1E;
    --secondary-color: #30B0C7;
    --tertiary-color: #2B2B2B;
    --border-color: #2E2E2E;
    --font-family: Arial, sans-serif;
    --font-size-base: 16px;
    --text-color: #cbcbcb;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /*  add a ask color: #909090  */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* content */

#container {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    gap: 10px;
    padding: 10px;
}

.logo {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    height: calc(100vh - 20px);
    margin: 0;
}

/* sidebar */

nav {
    gap: 25px;
}

.sidebar-option {
    display: flex;
    margin: 0 20px 0 20px;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar-left {
    display: flex;
    gap: 10px;
}

.divider {
    height: 3px;
    width: 85%;
    border-radius: 3px;
    background-color: var(--border-color);
    margin: 0 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 20px 0 20px;
}

.projects > .header {
    font-weight: 600;
}

.project-count {
    color: var(--text-color);
    margin-left: 2px;
}

.project-title {
    margin-right: auto;
}

.project-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    margin: 0 14px 0 20px; /* TODO: ADJUST AFTER SVG ADDITION */
}

.input-field {
    background-color: transparent;
    color: white;
    border: none;
}

.plus-icon {
    font-size: 32px;
    margin-right: -6px;
    cursor: pointer;
}

.plus-icon:hover {
    color: var(--secondary-color);
}

/* list */

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .divider {
    width: 95%;
}

.new-task {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    padding: 10px;
    width: 90%;
    height: 35px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    font-family: inherit;
}

.new-task:focus {
    outline: var(--secondary-color) solid 1px;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: dashed 1px white;*/
    height: 80%;
    width: 80%;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: dashed 1px white;*/
    width: 90%;
    height: 2rem;
}

.trash-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkmark {
    display: flex;
    flex-shrink: 0;
    border: solid 2px var(--text-color);
    border-radius: 2px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.checkmark {
    display: flex;
    flex-shrink: 0;
    border: solid 2px var(--text-color);
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkmark.checked {
    background-color: var(--secondary-color);
}

.task-container .completed {
    text-decoration: line-through;
    color: grey;
}

.checkmark.checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
}

.checkmark:hover {
    border-color: var(--secondary-color);
}

.trash-svg {
    display: flex;
    flex-shrink: 0;
    width: 1.35rem;
    height: auto;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.trash-svg:hover {
    stroke: #b90d0d;
}

/* todo */

.todo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.todo > .divider {
    width: 95%;
    margin-bottom: 10px;
}

.info-header {
    height: 85px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.priority-container,
.date-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.title-container {
    display: flex;
    justify-content: end;
}

.info-title {
    display: flex;
    margin-left: -1000px;
}

.info-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}

.info-body > p {
    display: flex;
    text-wrap: wrap;
}

[contenteditable]:focus {
    outline: none;
    border: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

/*!* Footer *!*/

/*footer {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 16px;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    padding: 16px;*/
/*    font-size: 24px;*/
/*    bottom: -52px;*/
/*    left: 0;*/
/*}*/

/*footer a {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

/*.github {*/
/*    height: 32px;*/
/*    width: auto;*/
/*    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);*/
/*    color: var(--text-color);*/
/*}*/

/*.github:hover {*/
/*    transform: scale(1.5);*/
/*}*/